html{
	margin:0;
}
body{
	margin:0;
}


.top-nav{
	width:100%;
	display:flex;
}
.top-nav i{
	flex:1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hero_text{
	display:grid;
}


li{
	display:inline;
	

}
.topnav_flex{
	width:100%;
	
	flex-grow: 5;
}

.nav-toggle{
	display:flex;
	flex-direction: column;

}
